

    <h1> Vorname: <%= @user.firstname %> </h1> <br>
    <h1> Nachname: <%= @user.name %> </h1> <br>
    <h1> Geburtstag: <%= @user.date_of_birth.strftime("%d %m %Y") %> </h1> <br>
    <h1> E-Mail: <%= @user.email %> </h1> <br>
    <h1> Aktiv seit: <%= @user.aktiv_seit.strftime("%d %m %Y") %> </h1> <br>
    <h1> Bund: <%= @user.bund %> </h1> <br>
    <h1> Werdegang: <%= @user.bio %> </h1> <br>
