
<h1> <%= @user.name %> </h1> <br>
<h1> <%= @user.firstname %> </h1> <br>
<h1> <%= @user.date_of_birth %> </h1> <br>
<h1> <%= @user.email %> </h1> <br>
<h1> <%= @user.aktiv_seit %> </h1> <br>
<h1> <%= @user.bund %> </h1> <br>
<h1> <%= @user.bio %> </h1> <br>
