
<div class="border-form-div-1">
    <h3> Vorname:       </h3>  <h3> <%= @user.firstname %> </h3> <br>
    <h3> Nachname:      </h3>  <h3> <%= @user.name %> </h3> <br>
    <h3> Geburtstag:    </h3>  <h3> <%= @user.date_of_birth.strftime("%d.%m.%Y") %> </h3> <br>
    <h3> E-Mail:        </h3>  <h3> <%= @user.email %> </h3> <br>
    <h3> Aktiv seit:    </h3>  <h3> <%= @user.aktiv_seit.strftime("%d.%m.%Y") %> </h3> <br>
    <h3> Bund:          </h3>  <h3> <%= @user.bund %> </h3> <br>
    <h3> Werdegang:     </h3>  <h3> <%= @user.bio %> </h3> <br>
</div>

