

        
        <div class="border-form-div-1">  
                <div id="flip">      
                <h3>Neuer Post</h3>
            </div>
                <div id="panel">
                <%= form_for [@post], html: { multipart: true } do |f| %>
            
                <div class="form-group">
                <%= f.text_field :title, class: 'form-control', :placeholder => 'Post Titel'  %>
                </div>
            
                <div class="form-group">        
                <%= f.text_area :content, class: 'form-control textarea', :placeholder => 'Text'  %>        
                </div>
            
                <div class="form-group">
                <%= f.attachment_field :image  %>
                </div>
            
                <div class="form-group">
                <%= f.submit "Create" , class: "btn btn-primary" %>
                </div>  
            </div>     
              
            </div>
        <% end %>


<% @posts.each do |post| %> 
    <div class="border-form-div-1">
        <h3><%= link_to post.title , post_path(post) %></h3>
        <p><%= post.content %></p>
        <%= link_to post.user.firstname + " " +post.user.name + " | " + post.user.bund + " | " + time_ago_in_words(post.created_at) + " ago", user_path(post.user, post) %>
        
        <% if current_user.id == post.user_id %>
        <button type="button" class="btn btn-default btn-sm">
            <%= link_to "Löschen", post, method: :delete %>
        </button>
        <% end %>
        
    </div>  
<% end %>


<div class="digg_pagination">
    <%= will_paginate @posts %>
</div>



